<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vgb">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VGB"
        tools:targetApi="31">
        <activity
            android:name=".Confusion"
            android:exported="false"
            android:label="IS you are lucky ✔ ?"
            android:parentActivityName=".MainActivity"
            ></activity>
        <activity
            android:name=".LetsStart"
            android:exported="false"
            android:label="Lets Play"
            android:parentActivityName=".Cricket"></activity>
        <activity
            android:name=".Cricket"
            android:exported="false"
            android:label="Cricket"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>